<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>title</key>
		<string>Tap Zoo 2</string>
		<key>info</key>
		<string>10 Animal Coins</string>
		<key>worth</key>
		<integer>100</integer>
		<key>icoPath</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>title</key>
		<string>Catering Help Wanted!</string>
		<key>info</key>
		<string>Need multiple people to help cater a wedding.</string>
		<key>worth</key>
		<integer>200</integer>
		<key>icoPath</key>
		<string>spymouse_banner.png</string>
		<key>date</key>
		<string>09/25/2011</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>Dog Walker WANTED!</string>
		<key>info</key>
		<string>I need someone to walk my two Jack Russells. One is named peter the other is named jackson.</string>
		<key>worth</key>
		<integer>20</integer>
		<key>icoPath</key>
		<string>game_banner.png</string>
		<key>date</key>
		<string>09/20/2011</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>title</key>
		<string>Hauling Junk</string>
		<key>info</key>
		<string>5 strong individuals are needed to move my belongings.</string>
		<key>worth</key>
		<integer>100</integer>
		<key>icoPath</key>
		<string>budweiser_banner.png</string>
		<key>date</key>
		<string>09/20/2011</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>Clean my house!</string>
		<key>info</key>
		<string>I need someone to come over and clean my dirty house.</string>
		<key>worth</key>
		<integer>400</integer>
		<key>icoPath</key>
		<string>outback_banner.png</string>
		<key>date</key>
		<string>09/20/2011</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>Paint my house!</string>
		<key>info</key>
		<string>Can you paint my house? I need a good painter now!</string>
		<key>worth</key>
		<integer>200</integer>
		<key>icoPath</key>
		<string>gunship_banner.png</string>
		<key>date</key>
		<string>10/20/2011</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>Live band needed at a local bar</string>
		<key>info</key>
		<string>Live Band needed at local Moes bar and grill. Must play rock music.</string>
		<key>worth</key>
		<integer>600</integer>
		<key>icoPath</key>
		<string>kanye_banner.png</string>
		<key>date</key>
		<string>12/01/2011</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>title</key>
		<string>Local Model Wanted!</string>
		<key>info</key>
		<string>I need a model to pose for me. I am not creepy.</string>
		<key>worth</key>
		<integer>200</integer>
		<key>icoPath</key>
		<string>gunship_banner.png</string>
		<key>date</key>
		<string>12/02/2011</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>title</key>
		<string>Want to be an extra!</string>
		<key>info</key>
		<string>Be an extra in a real Hollywood movie! Do you want to hang out on set all day drinking.</string>
		<key>worth</key>
		<integer>500</integer>
		<key>icoPath</key>
		<string>outback_banner.png</string>
		<key>date</key>
		<string>12/02/2011</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>BE THE SIGN GUY!</string>
		<key>info</key>
		<string>Ya know, that guy on the side of the road spinning the sign like he is a rock star!</string>
		<key>worth</key>
		<integer>20</integer>
		<key>icoPath</key>
		<string>game_banner.png</string>
		<key>date</key>
		<string>12/04/2011</string>
	</dict>
	<dict>
		<key>type</key>
		<string>4</string>
		<key>title</key>
		<string>Share Zynga games with your friends!</string>
		<key>info</key>
		<string>Share any Zynga game with 30 friends and get cash!</string>
		<key>worth</key>
		<integer>5</integer>
		<key>icoPath</key>
		<string>outback_banner.png</string>
		<key>date</key>
		<string>12/05/2011</string>
	</dict>
</array>
</plist>
